<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="components/css/style-sidebar.css">

</head>
<body>
	<div class="sidebar">
		<div class="sidebar-header">
				 <a href="#"><img src="/DNGB/components/images/nana.png" alt="nana Icon"></a>
				 <h2>D&G</h2>
		    </div>
		<div class="links">
			<a href="suppliers-product-page.php">Product</a>
			<a href="supplier-order-page.php">Order Details</a>
			<a href="supplier-order-history.php">Order History</a>			
		</div>
	</div>
</body>
</html>