<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Website</title>
	<link rel="stylesheet" type="text/css" href="components/css/style-sidebar.css">
</head>
<body>


	<div class="sidebar">
		<div class="sidebar-header">
				 <a href="#"><img src="/DNGB/components/images/nana.png" alt="nana Icon"></a>
				 <h2>D&G</h2>
		    </div>
		<div class="links">
			<a href="dashboard.php">Dashboard</a>
			<a href="admin-inventory-page.php">Inventory</a>
			<a href="purchase-order-front.php">Purchase Orders</a>
			<a href="suppliers-front.php">Suppliers</a>
			<a href="user-front.php">Tricycle Operator</a>
			<a href="login.html">log out</a>
		</div>
	</div>

</body>
</html>
