.add-product-button {
    display: block;
    margin: 5px auto;
    width: 105px;
}
.add-button {
    padding-top: 135px; /* Adjust this value to move the button down */
    margin-left: -420px;
}
